<types namespace="_goa">
  <type interface name="Context" desc="The context object for each request.">
    <prop type="!_goa.Cookies" name="cookies">
      The cookies instance.
    </prop>
    <prop boolean name="respond">
      To bypass Koa's built-in response handling, you may explicitly set `ctx.respond = false;`
    </prop>
    <prop type="string" name="originalUrl">
      Get request original URL.
    </prop>
    <prop type="Object" name="state">
      The recommended namespace for passing information through middleware and to your frontend views.
    </prop>


    <prop type="!_goa.Application" name="app">
      The reference to the application.
    </prop>
    <prop type="!_goa.Request" name="request">
      The reference to the request instance.
    </prop>
    <prop type="!_goa.Response" name="response">
      The reference to the response instance.
    </prop>
    <prop type="!http.IncomingMessage" name="req">
      The message from the client.
    </prop>
    <prop type="!http.ServerResponse" name="res">
      The response from the server.
    </prop>
  </type>
  </type>
</types>